/*
*Color Pallets
*#05ff82
*#02ff88
*var(--color-gray-light)
*#413f41
*#242424
*#232323
*#2e2e31
*#2F2E30
*#2f2e2f
*#050000
*/

* {
    font-family: "Rubik Glitch Pop", system-ui;
}

:root {
    /* Text Colors */
    /* Header Color */
    --color-accent-neon-green-1: #05ff82;
    /* var(--color-accent-neon-green-1) */
    /* Paragraph Color */
    --color-gray-light: #b3b3b3;
    /* var(--color-gray-light) */
    /* Cards-Background Color */
    --color-gray-medium: #2e2e31;
    /* var(--color-gray-medium) */
    /* Testimonial-Background Color */
    --color-gray-deep: #1f1f1f;
    /* var(--color-gray-deep) */
    /* Hover Color */
    --color-surface-2: #242424;
    /* var(--color-surface-2) */
    /*Body-Background Color*/
    --color-surface-3: #232323;
    /* var(--color-surface-3) */
    --color-surface-5: #ffffff;
    /* var(--color-surface-5) */
}

body {
    background-color: var(--color-surface-3);
    /* background-color: #F8F8FF; */
    /*background-image: url(../Images/background.webp);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    aspect-ratio: auto;
    color: var(--color-gray-light);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1 {
    color: var(--color-accent-neon-green-1);
}

h2,
h3 {
    color: var(--color-accent-neon-green-1);
}

h2 {
    margin-top: 0;
    text-wrap: wrap;
}

.main-content {
    padding: 20px;
    transition: margin-left 0.5s, padding-top 0.5s;
    -webkit-transition: margin-left 0.5s, padding-top 0.5s;
    -moz-transition: margin-left 0.5s, padding-top 0.5s;
    -ms-transition: margin-left 0.5s, padding-top 0.5s;
    -o-transition: margin-left 0.5s, padding-top 0.5s;
}

.home-container {
    display: flex;
    gap: 0px;
    overflow-x: auto;
    /* padding-bottom: 20px; */
    scroll-snap-type: x mandatory;
    flex-wrap: wrap;
    overflow: hidden;
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.section {
    display: none;
}

.section.active {
    display: block;
    animation: slideDown 0.5s ease, ;
    transition: transform 0.3s, flex-basis 0.3s;
    -webkit-animation: slideDown 0.5s ease, ;
}

ion-icon {
    color: var(--color-gray-light);
    font-size: 20px;
}

.hidden {
    display: none;
    /* Completely removes rendering when hidden */
}


/* SCREEN SIZES */